h1 {
  font-size: 45px;
}

button {
  margin: 10px;
  padding: 10px;
  border: none;
  background-color: #222;
  color: #efa;
  border-radius: 20px;
  cursor: pointer;
}

.App {
  text-align: center;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}
/* write your parent styles in here for your App.js */
